@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Css/release")
</head>
<body ng-app="appModule">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="navigationController">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Water Quest</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/home">Home</a></li>
                    <li ng-if="!activeUser.IsAuthenticated"><a href="#/account/register">Register</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <ul class="nav navbar-nav">
                            <li>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="input-group">
                                        <input type="text" style="width:250px;" class="form-control" placeholder="Search" ng-model="searchQuery">
                                        <button type="submit" class="btn btn-default" style="margin-left: 5px;" ng-click="search()" title="Search"><i class="fa fa-search"></i></button>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="activeUser.IsAuthenticated"><a href="#/wishlist" title="Your wishlist"><i class="fa fa-star"></i>(<span ng-bind="getCount()"></span>)</a></li>
                    <li><a href="#/cart" title="Your shopping cart"><i class="fa fa-fw fa-shopping-cart"></i>(<span ng-bind="cartProducts.length"></span>)</a></li>
                    <li ng-if="!activeUser.IsAuthenticated"><a href="#/account/login">Login</a></li>
                    <li class="dropdown" ng-if="activeUser.IsAuthenticated">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" href=""><i class="fa fa-fw fa-user"></i><span ng-bind="activeUser.FullName"></span> <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/profile">Profile</a></li>
                            <li ng-if="!activeUser.IsOAuthUser"><a href="#/account/changePassword">Change Password</a></li>
                            <li class="nav-divider"></li>
                            <li><a ng-click="logout()" href="">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Jantrik Technologies Ltd.</p>
        </footer>
    </div>

    @Scripts.Render("~/Scripts/release")
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=false"></script>
    <script src="@System.Configuration.ConfigurationManager.AppSettings["SignalrDynamicScriptUrl"]"></script>
</body>
</html>